<%# à faire:
afficher les title.movie%>

<h2><%= @list.name %></h2>

<ul class="list-group">
  <% @list.bookmarks.each do |bkm| %>
    <%# <li class="list-group-item"><%= bkm.title %> </li> %>
    <li class="list-group-item"> Nom du film </li>
    <li class="list-group-item"> <%= bkm.comment %> </li>
    <li>  <%= link_to "Delete",
      list_path(@list),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </li>
  <% end %>
</ul>

<p><%=link_to "Add a film", new_list_bookmark_path(@list)  %></p>

<p><%=link_to "My lists", lists_path  %></p>
